* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Amatic SC', cursive;
    color: #000;
}
.parallax {
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 20%;
    transform-style: inherit;
    width: 100vw;
}
.parallax::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    transform-origin: center;
    min-height: 100vh;
    background-image: url('https://plus.unsplash.com/premium_photo-1676517306229-d08449677a59?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    // background-color: #084ee4;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
    /* Параллакс */
    transform: translateZ(-1px) scale(2);
}
// header h1 {
//     margin-top: -100px;
//     font-size: 42px;
// }
.parallax {

    &__inner {
        max-width: 700px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 auto;
    }

    &__title {
        font-size: 40px;
        text-transform: uppercase;
        margin-top: -100px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 90px;
    }

    &__item {
        display: flex;
        gap: 10px;
        align-items: flex-end;
        transform-style: inherit;
    }

    &__item-content {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__item-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 400px;
    }
}
